<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="portfolioApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="portfolioApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="portfolioApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="portfolioApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lovro Predovan | Web programmer</title>

    <meta name="description" content="Lovro Predovan portfoilo pages"/>
    <meta name="keywords" content="lovro predovan, lpredova, javascript, php , laravel, angularjs , angular, developer, zadar, varazdin, hrvatska, croatia, student, freelancer, hire, "/>
    <meta name="author" content="Lovro Predovan"/>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app/assets/bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="app/assets/bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="app/assets/css/app.css">
    <link rel="stylesheet" href="app/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="app/assets/css/bootstrap.min.css">


    <script src="app/assets/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div id="wrapper">

    <!-- Navigation -->
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav ">
            <li><i id="menu-close" class="fa fa-times fa-3x rotate" ng-click="Sidebar()"></i></li>
            <li><a href="/">Home</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>

            <li><div class="side-lp">Lovro &copy; 2015</div></li>
        </ul>
    </nav>

    <!--Nav btn--->
    <div ng-click="Sidebar()" class="toggle pull-right" id="menu-toggle">
        <i class="fa fa-bars fa-3x"></i>
    </div>

    <!--Content-->
    <div ng-view></div>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="app/assets/bower_components/angular/angular.js"></script>
    <script src="app/assets/bower_components/angular-route/angular-route.js"></script>
    <!--Modules and routes--->
    <script src="app/app.module.js"></script>
    <script src="app/app.routes.js"></script>

    <!--Controllers--->
    <script src="app/pages/home/homeController.js"></script>
    <script src="app/pages/work/workController.js"></script>
    <script src="app/pages/about/aboutController.js"></script>
    <script src="app/pages/blog/blogController.js"></script>
    <script src="app/pages/contact/contactController.js"></script>
    <script src="app/pages/post/postController.js"></script>
    <script src="app/pages/project/projectController.js"></script>


    <!--Animations ant other stuff-->
    <script src="app/assets/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    <!--Carousel--->
    <link href="app/assets/bower_components/angular-carousel/dist/angular-carousel.min.css" rel="stylesheet"
          type="text/css"/>
    <script src="app/assets/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="app/assets/bower_components/angular-carousel/dist/angular-carousel.min.js"></script>
    <script src="app/components/helpers/smoothScroll.js"></script>

    <script>
        $('#homepageCarousel').carousel({
            interval: 2000
        })

        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>

</body>
</html>
