<div class="container">
    <div class="row">
        <a href="/work" class="about-mark back-button">Back</a>
    </div>
</div>
<div ng-repeat="p in project">

    <div class="project-image img-responsive"
         style="background: url({{p.cover}}) center fixed #FFFF00;height: 400px"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div ng-repeat="p in project">

                <h1 class="category-title">
                    <a class="project-link" href="{{p.link}}" target="_blank">
                       {{p.title}}
                    </a>
                </h1>

                <span class="about-mark">{{p.tags}}</span>
                <div class="project-description">
                    {{p.description}}
                </div>
                <p class="project-technologies">{{p.technologies}}</p>
                <p class="project-technologies">{{p.project_status}}</p>
                <a href="{{p.repo}}" class="project-link">{{p.repo}}</a>

                <span class="about-mark">{{p.type}}</span>

            </div>

            <div ng-repeat="photo in photos">
                <div class="col-md-3 project-image img-responsive"
                     style="background: url({{photo.url}}) center;width: 300px;height: 300px"></div>
            </div>


        </div>
    </div>
</div>