<div class="container">
    <div class="row">
        <h1 class="category-title">Lovro's Blog</h1>

        <div class="col-md-12">
            <!--<div class="comming-soon">
                Comming soon !
            </div>-->

            <!--Search field-->
            <div class="container">
                <form name="input-name-form" ng-submit="">
                    <div id="input-container">
                        <div id="input-area">
                            <input class="input-fld-near"
                                   id="input-id"
                                   type="text"
                                   placeholder="SEARCH"
                                   ng-model="search.$">
                        </div>
                    </div>
                </form>
            </div>

            <!--Post--->
            <div ng-repeat="post in posts | filter:search track by $index ">
                <div class="post" ng-click="openPost(post.slug)">
                    <h1 class="post-title">{{post.title}}</h1>

                    <p class="post-summary">{{post.summary}}</p>

                    <div class="post-details">
                        <span class="timestamp-badge">Posted {{post.time}}</span>
                        <span> Tags :</span>
                        <span class="tag-badge">{{post.test}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>