<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8"/>


    <link rel="shortcut icon" href="/favicon.ico"/>

    <meta name="description" content="Lovro Predovan portfoilo pages"/>
    <meta name="keywords"
          content="lovro predovan, lpredova, javascript, php, laravel, angularjs , angular, developer, zadar, varazdin, hrvatska, croatia, student, freelancer, hire, "/>
    <meta name="author" content="Lovro Predovan"/>

    <!-- for Facebook -->
    <meta property="og:title" content="Lovro Predovan :: Web dev :: Idea maker :: Problem solver"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="http://lovropredovan.com/app/assets/images/hi.jpg"/>
    <meta property="og:url" content="{{ base_url }}">
    <meta property="og:description"
          content="Hi there you curious stranger! Nice to meet you! I'm Lovro freelance web developer and I here to help your ideas come true. Feel free to contact me,follow me or just drop by to say HI!"/>

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ base_url }}">
    <meta name="twitter:creator" content="@lovro_p">
    <meta name="twitter:title" content="Lovro Predovan :: web dev :: idea maker :: problem solver">
    <meta name="twitter:description"
          content="Hi there you curious stranger! Nice to meet you! I'm Lovro freelance web developer and I here to help your ideas come true. Feel free to contact me,follow me or just drop by to say HI!">
    <meta name="twitter:image:src" content="http://lovropredovan.com/app/assets/images/hi.jpg">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ theme_url }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/normalize.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/main.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/app.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/font-awesome.min.css">

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
    {% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav ">
            <li><i id="menu-close" class="fa fa-times fa-2x rotate" ng-click="Sidebar()"></i></li>
            <li><a href="/">Home</a></li>
            <li><a href="//lovropredovan.com/blog/">Blog</a></li>
            <li><a href="/">Work</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>

    <!--Nav btn--->
    <div ng-click="Sidebar()" class="toggle pull-right" id="menu-toggle">
        <i class="fa fa-2x fa-bars"></i>
    </div>

    <div class="blog-header">
        <div class="container">
            <section class="col-sm-12">
                <h1 class="category-title">Lovro's blog</h1>

                <div class="text-center">
                    <div class="text-center">
                        <a href="https://twitter.com/lovro_p" class="twitter-follow-button" data-show-count="false">Follow
                            @lovro_p</a>
                        <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');</script>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="container">
        <section id="content" class="col-sm-12">
            <div class="inner">
                {% if is_front_page %} <!-- Front page lists all blog posts -->
                <div id="posts">
                    {% for page in pages %}
                    {% if page.date %} <!-- Note we check for Date field (posts) here -->
                    <div class="post">
                        <h3>
                            <a href="{{ page.url }}" class="post-title">{{ page.title }}</a>
                        </h3>

                        <p class="meta">{{ page.date_formatted }}</p>

                        <p class="excerpt">{{ page.excerpt }}</p>

                        <div class="description-text-min">
                            <a href="{{page.url}}">Read post</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="post">
                    {% if meta.title %}<h2>{{ meta.title }}</h2>{% endif %}
                    <p class="meta">{{ meta.date_formatted }}</p>
                    {{ content }}
                    <div class="social">
                        {{ social_share }}
                    </div>
                </div>
                {{fb}}
                {% endif %}
            </div>
        </section>
    </div>
</div>

<footer id="footer" class="footer">
    <div class="inner text-center">
        Blog built on <a href="//pico.dev7studios.com">Pico</a>
    </div>
</footer>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    //sticky footer
    $(window).bind("load", function () {
        var footer = $(".footer");
        var pos = footer.position();
        var height = $(window).height();
        height = height - pos.top;
        height = height - footer.height();
        if (height > 0) {
            footer.css({
                'margin-top': height + 'px',
                'margin-bottom': '30px'
            });
        }
    });
</script>

</body>
</html>